#aboutMe {
    color: #FAFAFA;
    font-family: 'Lato', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    margin-top: 3rem;
    margin-bottom: 16rem;
    padding: 3rem;
    border-radius: 1rem;
    border: 1px solid #1F1F1F;
    background-color: #151515;
}

#aboutMe .contact {
    display: flex;
    justify-content: space-between;
}

#aboutMe .contact img {
    background: #630d94;
    width: 60px;
    height: 60px;
    border: 2px solid #111;
    border-radius: .5rem;
    cursor: pointer;
    margin: 0 .3rem;
    transition: all .5s ease-out;
}

#aboutMe .contact img:hover {
    transform: translateY(-10px);
}

#aboutMe p {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #9030c7;
}

#aboutMe h1 {
    font-size: 2.3rem;
    margin-bottom: .3rem;
}

#aboutMe h2 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    color: #ccccccd7;
}

#aboutMe legend {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

@media (max-width: 768px) {
    #aboutMe {
        width: 20rem;
    }
}


@media (max-width: 450px) {
    #aboutMe {
        width: 13rem;
    }

    #aboutMe .contact img {
        width: 30px;
        height: 30px;
        margin: 0 .1rem;
    }

    #aboutMe p {
        font-size: 1.2rem;
    }

    #aboutMe h1 {
        font-size: 1.5rem;
    }

    #aboutMe h2 {
        font-size: 1rem;
    }

    #aboutMe legend {
        font-size: .9rem;
    }

}