.container .container-text {
    line-height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #FEFEFE;
}

.container p {
    color: #ccccccd7;
    font-size: 1.5rem;
}

.container .container-text h1 {
    font-size: 5.5rem;

}

.container .container-text h2 {
    font-size: 7.5rem;
}

.container legend {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    margin-left: 20rem;
}

.container-text h1,
.container-text h2,
.container p {
    font-weight: bold;
}

@media (max-width: 660px) {
    .container .container-text {
        line-height: 4rem;
    }

    .container p {
        font-size: 1rem;
    }

    .container .container-text h1 {
        font-size: 3.5rem;

    }

    .container .container-text h2 {
        font-size: 5.5rem;
    }
}

@media (max-width: 425px) {
    .container .container-text {
        line-height: 4rem;
    }

    .container p {
        font-size: 1rem;
    }

    .container .container-text h1 {
        font-size: 3rem;

    }

    .container .container-text h2 {
        font-size: 4rem;
    }
}

@media (max-width: 320px) {
    .container .container-text {
        line-height: 4rem;
    }

    .container p {
        font-size: .8rem;
    }

    .container .container-text h1 {
        font-size: 2.7rem;

    }

    .container .container-text h2 {
        font-size: 3.1rem;
    }
}