.container {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container button {
    color: #FFF;
    position: relative;
    padding: 0.5rem;
    background-color: #151515;
    border: 1px solid #151515;
    cursor: pointer;
    border-radius: 10rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    transition: all .5s ease;
}

.container button:hover {
    color: #151515;
    background-color: #FFF;
    border: 1px solid #FFF;
}